.AboutUs{
height: 100vh;
}

.AboutUsFlex
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   /* flex-wrap:inherit; */
   
}
.Heading-AboutUs
{
    display: flex;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
          font-family: Average;
          font-size: 40px;
          font-style: normal;
          color: white;
       /* width: 32vw; */
          border: solid 1px;
    border-color: #630a64c9;
    color: white;
    background: #59004055;
    text-align: center;
    font-weight: bold;
    margin-bottom: 45px;
}



.Container-R1
{
    display: flex;
 justify-content: space-around;
 align-items: center;
 flex-wrap: wrap;
 flex-direction: row;
 margin-bottom: 88px;
}
.Mission
{
border: 1px solid rgba(255, 255, 255, 0.2);
background: radial-gradient(circle, rgba(100,0,150,1) 0%, rgba(50,0,100,1) 100%);
background-origin: border-box;
box-shadow: 0 0 20px rgba(192, 0, 255, 0.6);
color: white;
}

.WhatWeDo
{
    border: 1px solid rgba(255, 255, 255, 0.2);
background: radial-gradient(circle, rgba(100,0,150,1) 0%, rgba(50,0,100,1) 100%);
background-origin: border-box;
box-shadow: 0 0 20px rgba(192, 0, 255, 0.6);
color: white;
}

.OurVision
{ border: 1px solid rgba(255, 255, 255, 0.2);
    background: radial-gradient(circle, rgba(100,0,150,1) 0%, rgba(50,0,100,1) 100%);
    background-origin: border-box;
    box-shadow: 0 0 20px rgba(192, 0, 255, 0.6);
    color: white;
}

.WhyUs
{ border: 1px solid rgba(255, 255, 255, 0.2);
    background: radial-gradient(circle, rgba(100,0,150,1) 0%, rgba(50,0,100,1) 100%);
    background-origin: border-box;
    box-shadow: 0 0 20px rgba(192, 0, 255, 0.6);
    color: white;
}

/*   
.WhyUs-H
{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding:1.65rem; */
    /* font-size: 1.5rem;
     margin-bottom: 15px;
    font-weight: bold;
}
.DescriptionOfWhyUs
{
    font-size: 17px;
    line-height: 1.5em;
}

.OurVision-H
{
    display: flex;
    align-items: center;
    justify-content: center; */
    /* padding:1.65rem; */
    /* font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}
.DescriptionOfVision
{
    font-size: 17px;
  line-height: 1.5em;
}




.Heading-WWD
{
    display: flex;
    align-items: center;
    justify-content: center; */
    /* padding:1.65rem; */
    /* font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}
.DescriptionOfWWD
{ 
    font-size: 17px;
  line-height: 1.5em;
} */



/* .Heading-M
{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding:1.65rem; */
    /* font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
} */
/* .DescriptionOfMission
{
    font-size: 17px;
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}  */
