
/* navigation buttons */
.navigation:hover{
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}
.navigation{
    background: transparent;
    color: white;
}

/* card css */

.cardBG {
    background: linear-gradient(to bottom,#143A85, #590040);
}


.carouselCard{
    border-radius: calc(24px - 0.75rem);
}

.buyNowButtom{
    background: linear-gradient(to right, #DF1CFF, #EA0070);
    box-shadow: 0px 9px 100px 0px #D011CC59;
}

/* banner related */

/* .bannerBGEffect::after{
    content: " ";
    display: block;
    position: relative;
    width: 100vw;
    margin: auto;
    height: 90vh;
    inset: 0px;
    background-image: inherit;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    filter: blur(24px);
    opacity: 0.5;
    z-index: 10;
} */


.bannerBGEffect::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-image: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(7px);
    z-index: 10;
}


/* custom fonts */


@font-face {
    font-family: 'BruceForever';
    src: url('../../public/fonts/BruceForeverRegular.ttf');
}

.bruceForever{
    font-family: 'BruceForever', sans-serif;
}