.Hero {  
 
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  align-items: center;
}
.HeroDescription
{
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}
.Heading {
  margin: 10px 0px 0px 150px;
  line-height: normal;
  width: 35.063rem;
  height: 18 rem;
  flex-shrink: 0;
  font-family: Average;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 118.5% 56.88px;
  background: var(
    --front-text,
    linear-gradient(
      109deg,
      rgba(255, 255, 255, 0.9) 20.22%,
      rgba(0, 56, 255, 0.89) 143.14%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Heading2 {
  margin: 100px 0px 0px 300px;
  line-height: normal;
  width: 35.063rem;
  height: 18.125rem;
  flex-shrink: 0;
  font-family: Average;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 118.5% 56.88px;
  background: var(
    --front-text,
    linear-gradient(
      109deg,
      rgba(255, 255, 255, 0.9) 20.22%,
      rgba(0, 56, 255, 0.89) 143.14%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Earth {
  margin-right: 50px;
}
.Button-GetStarted
{   
    letter-spacing:1px ;
height: 2em;
width: 7em;
background: linear-gradient(90deg, #aa4d7a, #d400ff);
     transition-duration: 0.4s;
     border:0.010rem solid #bb13e9 ; 
     border-radius: 4px;
     background:  #ea66e64d;
     /* background-color: 
    linear-gradient(90deg, #aa4d7a, #d400ff);
      */
  }
  
  .Button-GetStarted:hover {

    background: transparent;
    border-radius: 20px;
    background-image: 
    linear-gradient(90deg, #aa4d7a82, #d400ff7b);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 0 15px rgba(255, 0, 123, 0.349), 0 0 30px rgba(212, 0, 255, 0.333);
    color: white;

  }
  .DescriptionOfButtonOfGetStarted
  {
    align-items: center;
    word-spacing: 12px;
    color: rgb(193, 188, 188);
    font-size: 18px;
    font-weight: bold;
    font-style:inherit;
   
  }
 
