.Hero {  
 height: 120vh;
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
}
.HeroDescription
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.Heading-2
{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.DescriptionOfHeading-2
{
  margin-top: 50px;
  margin-left: 286px;
    line-height: normal;
    width: 35rem;
    height: 18 rem;
    flex-shrink: 0;
    font-family: Average;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 118.5% 56.88px;
    background: var(
      --front-text,
      linear-gradient(
        109deg,
        rgba(255, 255, 255, 0.9) 20.22%,
        rgba(0, 56, 255, 0.89) 143.14%
      )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.DescriptionOfHeading-1 {
  margin: 80px 0px 0px 150px;
  line-height: normal;
  max-width: 35.063rem;
  height: 17.0rem;
  flex-shrink: 0;
  font-family: Average;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 118.5% 56.88px;
  background: var(
    --front-text,
    linear-gradient(
      109deg,
      rgba(255, 255, 255, 0.9) 20.22%,
      rgba(0, 56, 255, 0.89) 143.14%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Heading2 {
  line-height: normal;
  width: 35.063rem;
  height: 18.125rem;
  flex-shrink: 0;
  font-family: Average;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 118.5% 56.88px;
  background: var(
    --front-text,
    linear-gradient(
      109deg,
      rgba(255, 255, 255, 0.9) 20.22%,
      rgba(0, 56, 255, 0.89) 143.14%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Heading-2All
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.Earth {
width: 100%;
 margin-right: 15vh;
 margin-bottom:15vh ;
}
.Earth img{
 
  max-width: 100%;
}
.Button-GetStarted
{  
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 54px;
  margin-left: 540px;
    letter-spacing:1px ;
height: 3em;
width: 13em;
     transition-duration: 0.4s;
     background: transparent;
     border-radius: 20px;
     background-image: 
     linear-gradient(90deg, #aa4d7a82, #d400ff7b);
     background-origin: border-box;
     background-clip: content-box, border-box;
     box-shadow: 0 0 9px rgba(255, 0, 123, 0.349), 0 0 30px rgba(212, 0, 255, 0.333);
     color: white;
  }
  
  .Button-GetStarted:hover {
    letter-spacing:3.5px ;
    background: transparent;
    border-radius: 20px;
    background-image: 
    linear-gradient(90deg, #aa4d7a82, #d400ff7b);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 0 40px rgba(255, 0, 123, 0.349), 0 0 30px rgba(212, 0, 255, 0.333);
    color: white;

  }
  .DescriptionOfButtonGetStarted
  {
    align-items: center;
    word-spacing: 1px;
    color: rgb(193, 188, 188);
    font-size: 18px;
    font-weight: bold;
    font-style:inherit;
   
  }

  .Wavy
  {
    margin: 0px 0px 80px 72px;
  }
 
  .Earth
{
  display: flex;
  flex-direction: column;
}
.EarthBottomText
{
 
  z-index: 1;
 border: white 4px solid;
 height: 24vh;
 margin: 0px 0px 10px 295px ;
  border-top-left-radius: 30px;
 background: #ffffff14;
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
}
.HeadingOfEarthBottomText
{
font-weight: 700;
color: white;
margin-bottom: 5px;
margin-right: 38px;
}
.DescriptionOfEarthBottomText
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  align-items: center;
}
.DiscoverMore
{
 color: rgb(47, 255, 50);
 font-size: 22px;
 margin-left: -50px;
}
