.allIcons
{
    background-color: white;
    height: 40vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Icon-1
{
   
    background-color: white;
}