.NFTSection
{
    height: 92vh;
    margin-top: 15vh;
}
.NFTCards {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 26vh;
}
.Popular {
  color: aqua;
  width: 14rem;
  height: 9 rem;
  flex-shrink: 0;
  font-family: Average;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 118.5% 56.88px;
}
.NFT {
  width: 19 rem;
  height: 9 rem;
  flex-shrink: 0;
  font-family: Average;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 118.5% 56.88px;
  color: white;
}
.card {
    z-index: -2;
    display: flex;
    flex-direction:column;
    /* justify-content: center;
    align-items: center; */
  background-color: white;
  border-radius: 16px;
  align-items: center;
  max-width: 25.313rem;
  max-height: 34.188rem;
  background-image: linear-gradient(#143A85 , #590040);
  
  /* -webkit-text-fill-color: transparent; */
}


.AllCards {
  display: flex;
  justify-content: space-around;
  align-items: center;

} 
.Description
{
    margin-bottom: 100px;
}
.Image-1
{
    height: 22.201rem;
    width: 21.333rem;
}
.Image-2
{
    height: 22.201rem;
    width: 21.333rem;
}
.Image-3

{ 
    height: 22.201rem;
    width: 21.333rem;
}