*{
    padding: 0;
    margin: 0;
   
}

nav{
    display: flex;
    height: 88px;
    width: 100%;
    background-color: #04011C;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 10vh;
}

.logo
{
    /* display: flex;
    float: left; */
   color: white;
   margin-left: 20px;
}

.NavItem a
{
    display: flex;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
   color: white;
   padding: 0 23px;
   align-items: center;
   display: flex; 
  justify-content : space-evenly; 

}
.NavItem a:hover
{
    color: rgb(156, 156, 190);
    
}
.NavItems 
{   
    list-style-type: none;     /* ki bindu bindu na aaye */  
    display: flex;
    text-decoration: none;
    justify-items: end;
    align-items: center;
   
    
    color: rgb(255, 255, 255);
    background-color: #04011C;
}





.allNavItems
{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Buttons
{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Button-Login
{   
    letter-spacing:1px ;
    margin-right: 20px;
height: 2em;
width: 8em;
     transition-duration: 0.4s;
     border:0.010rem solid #bb13e9 ; 
     
     border-radius: 20px;
     background-color: #ffffff14;
  }
  
  .Button-Login:hover {
    letter-spacing:3.5px ;
    background: transparent;
    border-radius: 5px;
    background-image: 
    linear-gradient(90deg, #aa4d7a82, #d400ff7b);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 0 15px rgba(255, 0, 123, 0.349), 0 0 30px rgba(212, 0, 255, 0.333);
    color: white;

  }
  .DescriptionOfButtonOfLogin
  {
    align-items: center;
    word-spacing: 12px;
    color:rgb(193, 188, 188);
    font-size: 18px;
    font-weight: bold;
    font-style:inherit;
   
  }

  .Button-SignUp
{   
    letter-spacing:1px ;
height: 2em;
width: 8em;
/* background: linear-gradient(90deg, #aa4d7a, #d400ff); */
     transition-duration: 0.4s;
     border:0.010rem solid #bb13e9 ; 
     border-radius: 20px;
     background-color: #ffffff14;
  }
  
  .Button-SignUp:hover {
    border-radius: 5px;
    letter-spacing:3.5px ;
    background: transparent;
   
    background-image: 
    linear-gradient(90deg, #aa4d7a82, #d400ff7b);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 0 15px rgba(255, 0, 123, 0.349), 0 0 30px rgba(212, 0, 255, 0.333);
    color: white;

  }
  .DescriptionOfButtonOfSignUp
  {
    align-items: center;
    word-spacing: 12px;
    color: rgb(193, 188, 188);
    font-size: 18px;
    font-weight: bold;
    font-style:inherit;
   
  }
 
