
.Heading-T
{
  display: flex;
  justify-content: center;
  align-items: center;
        font-family: Average;
        font-size: 40px;
        font-style: normal;
        color: white;
        height: 5vh;
}
.TCC
{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
height: 85vh;
}
.TradeSection
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-end;
}
.Image1
{
width: 115vh;
margin-bottom:22px ;


}
.Trade{
height: 115vh;
}
.Description-T
{

  max-width: 60vh;
  font-size: 25px;
  font-style: normal;
  background: var(
    --front-text,
    linear-gradient(
      109deg,
      rgba(255, 255, 255, 0.9) 20.22%,
      rgba(0, 56, 255, 0.89) 143.14%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.Button-T
{
  
    
  display: flex;
  justify-content: center;
  align-items: center;
height: 3em;
width: 17em;
margin-top: 4em;
margin-left: 4em;
     transition-duration: 0.4s;
     border: #bb13e9 solid; 
     border-radius: 13px;
  }
  
  .Button-T:hover {
    width: 300px;
    height: 80px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid transparent;
    background-image: 
                    linear-gradient(90deg, #aa4d7a, #d400ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 0 15px rgba(255, 0, 124, 0.5), 0 0 30px rgba(212, 0, 255, 0.5);

    /* background-color: #bb13e9;  */
    color: white;
  }
  .DescriptionOfButton
  {
    font-size: 30px;
    font-weight: bolder;
    font-style: normal;
    background: var(
      --front-text,
      linear-gradient(
        rgba(226, 9, 187, 0.9) 20.22%,
        rgba(246, 123, 238, 0.89) 143.14%
      )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  }