
.Heading-T
{
  display: flex;
  justify-content: center;
  align-items: center;
        font-family: Average;
        font-size: 40px;
        font-style: normal;
        color: white;
     
        border: solid 1px;
  border-color: #630a64c9;
  color: white;
  display: flex;
  justify-content: center;
  background: #59004055;
 
  text-align: center;
  font-weight: bold;
}
.TCC
{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
height: 85vh;
}
.TradeSection
{
  display: flex;
  margin: auto;
  align-items: center;
}
.LineOfTradeSectionTradeSection
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;
}
.Image1
{
width: 115vh;
margin-bottom:22px ;


}
.Trade{
height: 115vh;
display: flex;
align-items: center;
flex-direction: column;

}
.Description-T
{

  max-width: 60vh;
  font-size: 25px;
  font-style: normal;
  background: var(
    --front-text,
    linear-gradient(
      109deg,
      rgba(255, 255, 255, 0.9) 20.22%,
      rgba(0, 56, 255, 0.89) 143.14%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.Button-T
{
  display: flex;
  justify-content: center;
  align-items: center;
height: 3em;
width: 17em;
margin-top: 4em;
margin-left: 4em;
background:  #04011C;
transition-duration: 0.4s;
border: #bb13e9 solid; 
border-radius: 9px;
  }
  
  .Button-T:hover {
    width: 20;
    height: 3em;
    letter-spacing:3.5px ;
    background: transparent;
    border-radius: 20px;
    background-image: 
    linear-gradient(90deg, #aa4d7a82, #d400ff7b);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 0 15px rgba(255, 0, 123, 0.349), 0 0 30px rgba(212, 0, 255, 0.333);
    color: white;
  }
  .DescriptionOfButton
  {
    color: rgb(147, 121, 121);
    font-size: 30px;
    font-weight: bolder;
    font-style: normal;
    background: var(
      --front-text,
      linear-gradient(
        rgb(255, 255, 255) 20.22%,
        rgba(104, 97, 104, 0.89) 143.14%
      )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }